{% extends "layout.html" %}

{% block title%} tititit {%endblock%}


{% block section%}
<div> 
    {{super()}}
    tititittttt
    <div>
        <ul>
            {% for user in users %}
                <li>{{user.id}}.{{user.email}}.{{user.nickname}}</li>
            {% else %}
                <li>There is no users.</li>
            {% endfor %}
        </ul>
    </div>
    div>
        <ul>
            {% for h10ci in have10cities %}
                <li>{{h10ci.code}} / {{h10ci.name}}</li>
            {% else %}
                <li>There is no users.</li>
            {% endfor %}
        </ul>
    </div>
    <div>
        <ul>
            {% for city in city_data %}
                <li>{{city.name}} / {{city.countrycode}} / {{city.population|format_number}}</li>
            {% endfor %}
        </ul>
    </div>
    <div>
        <ul>
            {% for world in worlds %}
                <li>{{world.code}} / {{world.name}} / {{world.continent}} / {{world.population|format_number}} </li>
            {% else %}
                <li>There is no world.</li>
            {% endfor %}
        </ul>
    </div>
</div>
{%endblock%}

{% block outer_block%}
    <p>11111111</p>
    {{super()}}
    {% block inner_block%} bbbbfbfbfbfb {%endblock inner_block%}
{% endblock outer_block%}

